ul, ol {
  width: 320px;
  margin: auto;
  background: #111827;
  padding: 18px 28px;
  border-radius: 16px;
  box-shadow: 0 0 30px rgba(34,211,238,0.4);
  font-size: 15px;
}

li {
  margin: 10px 0;
}

input {
  width: 100%;
  padding: 9px;
  border-radius: 8px;
  border: none;
  background: #1f2933;
  color: white;
}

input:focus {
  outline: none;
  box-shadow: 0 0 8px #6366f1;
}

a {
  display: block;
  text-align: center;
  color: #38bdf8;
  font-weight: 600;
  text-decoration: none;
}

pre {
  background: #111827;
  padding: 18px;
  width: 380px;
  margin: auto;
  border-radius: 16px;
  box-shadow: 0 0 30px rgba(167,139,250,0.4);
  font-size: 14px;
}
